/* 
PROJECT:      201 Project Week
DESCRIPTION:  Styles the index.html page
NOTES:        None
*/

/****** Global Styling ******/
body {
  background: url(../img/home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body a:link    { color: #0db14b; text-decoration: none; }
body a:visited { color: #0db14b; text-decoration: none; }
body a:hover   { color: #0b7210; text-decoration: none; }
body a:active  { color: #ffffff; text-decoration: none; }

/****** Global Styling ******/
header {
  /* outline: 4px dashed magenta; */
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 200px;
}

.logo {
  /* outline: 4px dashed orange; */
  position: relative;
  height: 100px;
}

.logo img {
  /* outline: 4px dashed green; */
  float: left;
  width: 140px;
}
.logo h1 {
  /* outline: 4px dashed blue; */
  float: left;
  width: 775px;
  margin-left: 25px;
  font-size: 48px;
  font-family: 'Courier New', Courier, monospace;
}

nav ul {

}
nav li {
  list-style-type: none;
  display: inline-block;
}